body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image: url("image002.jpg");
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.cell {
  background: rgb(87, 87, 83);
  background: radial-gradient(circle, rgba(87, 87, 83, 0.8555045871559633) 46%, rgba(0, 0, 0, 1) 100%);
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 1em;
  border: 1px solid black;
}

.cell:hover {
  background: rgb(227, 227, 218);
  background: radial-gradient(circle, rgba(138, 134, 134, 0.814) 46%, rgba(0, 0, 0, 1) 100%);
  cursor: pointer;
}

.board-container table {
  position: relative;
  border: 5px solid rgb(60, 60, 68);
  border-radius: 10px;
  box-shadow: 0px 0px 15px 5px rgba(30, 41, 47, 0.79);
}

h1 {
  background-color: white;
  width: 320px;
}

h2 {
  display: block;
  background-color: white;
  width: 300px;
}


.lives {
  display: block;
  background: black;
  color: red;
  text-align: center;
  font-size: 1em;
  border-radius: 8px;
  width: 55px;
  height: 20px;
  margin-right: 12rem;
}

/* clock outside */
.stopwatch-wrapper {
  margin: 0 auto;
  background: rgb(87, 87, 83);
  background: radial-gradient(circle, rgba(87, 87, 83, 0.8555045871559633) 46%, rgba(0, 0, 0, 1) 100%);
  width: fit-content;
  border-radius: 15px;
}

/* Clock design inside */
.stopwatch {
  color: wheat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
  font-size: 60px;
}

.boardAndLives {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20rem;
}

/* div  */
.container{
  display: flex;
}

 /* for the buttons */
.changeFromEasyToHard{
  display: flex;
  padding: 50px;
  width: 500px;
  margin-left: 560px;
}

.Easy{
  background: rgb(87, 87, 83);
  background: radial-gradient(circle, rgba(87, 87, 83, 0.8555045871559633) 46%, rgba(0, 0, 0, 1) 100%);
  cursor: pointer;

  border-radius: 5px;

  font-size: large;
  padding: 10px;
  margin: 12px
}

.Easy:hover{
  background-color: green;
  color: white;
}

.Medium{
  background: rgb(87, 87, 83);
  background: radial-gradient(circle, rgba(87, 87, 83, 0.8555045871559633) 46%, rgba(0, 0, 0, 1) 100%);
  cursor: pointer;
  border-radius: 5px;
  font-size: large;
  padding: 10px;
  margin: 12px
}

.Medium:hover{
  background-color: rgba(80, 80, 47, 0.757);
  color: white;
}

.Hard{
  background: rgb(87, 87, 83);
  background: radial-gradient(circle, rgba(87, 87, 83, 0.8555045871559633) 46%, rgba(0, 0, 0, 1) 100%);
  cursor: pointer;
  border-radius: 5px;
  font-size: large;
  padding: 10px; 
   margin: 12px
}

.Hard:hover{
  background-color: red;
  color-scheme:white
}
